<div class="container">
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleInputUsername"
               formControlName="username"
        >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
               formControlName="password"
        >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password Confirmed</label>
        <input type="password" class="form-control" id="exampleInputPasswordConfirm"
               formControlName="passwordConfirm"
        >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="email"
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
    <p class="small" style="color: red">{{errorMsg}}</p>
  </div>
</div>
